.card{
    position: relative;
    width: 600px;
    height: 50vh;
    max-width: 85vw;
    padding: 20px;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 18px 53px 0px rgb(0, 0, 0, 0.3);
}

.card_container{
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}

.card > h3 {
    color: #ffffff;
    position: absolute;
    bottom: 10px;
    text-transform: capitalize;

}

.swipe{
    position: absolute;
}